html, body {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: 300;
}

.hero.is-success {
    background: #F2F6FA;
}

.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login-page .box {
    margin-top: 5rem;
}

.login-page .avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}

.login-page .avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.login-page input {
    font-weight: 300;
}

.login-page p {
    font-weight: 700;
}

.login-page p.subtitle {
    padding-top: 1rem;
}

.table th, .table td {
    vertical-align: middle;
}
